.c-2{
    height:50px;
    width: 50px;
    border-radius: 50px;
    position: relative;
}
.c-2::before{
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50px;
    left: 50px;
    border-radius: inherit;
    padding: 10px;
    background: linear-gradient(red,yellow,pink);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude; 
    animation: spinccw 1s linear infinite;
    animation-delay: 1s;
}

@keyframes spinccw{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(-360deg);
    }
}
